include AUTHORS.md
include HISTORY.md
include LICENSE
include README.md

# recursive-include requirements/ *.txt

# recursive-include src/login_history_too/data/ *.toml

recursive-include src/login_history_too/static *
